{% extends "navigation.html" %}
{% block content %}
<div class="container-fluid" id="quiz_main">
	<div class="row justify-content-center" id="question_number">
	</div>
	<div class="row justify-content-center">
		<section class="col-xl-4" id="question_gif"></section>
	</div>
	<div class="row justify-content-center" id="options_row">
	</div>
</div>
<script>
	const options = JSON.parse('{{ options|tojson }}')
	const correct_call = JSON.parse('{{ correct_call|tojson }}')
	console.log(correct_call)
	const current_question = JSON.parse('{{ current_question|tojson }}')
	const total_questions = JSON.parse('{{ total_questions|tojson }}')
</script>
<script src="{{ url_for('static', filename='gif_quiz.js') }}"></script>
{% endblock %}